@use '@scssutils' as *;

#welcome {
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: 'Borna';
  padding-bottom: 1rem;

  @include media-breakpoint-up(xl) {
    padding-left: 12rem;
    padding-right: 12rem;
  }

  & > .welcome-container {
    & > .welcome-content {
      display: flex;
      flex-direction: column;
      gap: 30px;

      & > p {
        font-style: italic;
        font-size: 24px;
        margin: 0;
      }

      & > h2 {
        font-size: 36px;
        font-weight: bold;
        margin-block: 20px;

        @include media-breakpoint-up(md) {
          font-size: 42px;
        }

        @include media-breakpoint-up(xxl) {
          font-size: 48px;
        }
      }

      & > h3 {
        font-size: 55px;
        font-weight: bold;
        line-height: 94%;
        margin: 0;

        @include media-breakpoint-up(md) {
          font-size: 64px;
        }

        @include media-breakpoint-up(xxl) {
          font-size: 112px;
        }
      }
    }
  }
}

.bold {
  font-weight: bold;
}

a {
    color: inherit;
    text-decoration: underline;
}


.art-showcase-container{
  display: grid;

  grid-template-columns: 1fr;
  padding-top: 5rem;

  @include media-breakpoint-up(xxl){
    grid-template-columns: 60% 40%;
  }
 
    & > .left-panel{
      grid-column: 1;
      @include media-breakpoint-up(xxl){
        display: grid;
        grid-template-rows: 75% 25%;
      }

      & > .top-panel{
        grid-column: 1;
        display: grid;
        grid-template-columns: 70% 30%;


        & > .arrows-panel{
          display: none;
          @include media-breakpoint-up(xxl){
            display: grid;
            grid-template-rows: 70% 30%;
            font-weight: bold;
            font-size: 32px;
            font-style: italic;
            margin-inline-end: 3.5rem;
            margin-inline-start: 0.3rem;
            & > #top-arrow{
              grid-row: 1;
              margin-left: auto;
            }
    
            & > #bottom-arrow{
              grid-row: 2;
              & > .text {
                margin-left: 70px;
              }
            }
          }
        }
      }
  
      & > .bottom-panel{
        grid-column: 1;
        @include media-breakpoint-up(xxl){
          display: grid;
          grid-template-rows: 25% 75%;
        }
  
        & > .description {
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin: 10px;
  
          & > .description-text{
            @include media-breakpoint-up(xxl){
              width: 80%;
            }
            text-align: justify;
            font-family: 'Borna';
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 1.84px;
          }
        }
      }
    }
    & > .physical-art-showcase{
      & > img {
        width: 100%;
        height: auto;
      }
    }
}


#arrow2{
  display: none;
  @include media-breakpoint-up(xxl){
  display:initial;
  position: absolute;
  margin-left: 55px;
  }
}



.nodes-carousel-container{
  display: grid;
  grid-template-rows: 95% 5%;
  padding-left: 4rem;
  padding-right: 4rem;

  @include media-breakpoint-up(xl) {
    padding-left: 12rem;
    padding-right: 12rem;
  }
  @include media-breakpoint-up(md) {
    padding-left: 12rem;
    padding-right: 12rem;
  }

  @include media-breakpoint-up(xxl) {
    padding-left: 12rem;
    padding-right: 12rem;
  }

  & > .nodes-carousel{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 3rem;
    grid-column-gap: 3rem;

    @include media-breakpoint-up(md) {
      grid-template-columns: 1fr 1fr;
    }

    @include media-breakpoint-up(xxl) {
      grid-template-columns: 1fr 1fr 1fr;
    }

  }
}