:root {
  //colors
  --secondary: #000000;
  --magenta: #ff0064;
  --green: #00ff64;
  --primary: #ffffff;
  --accent: #00eecc;
  --text-primary: var(--secondary);
  --text-secondary: var(--primary);
}
