html {
  font-family: "Borna";
  font-style: normal;
  font-weight: 300;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  margin: 0 auto;
  background-color: #fff;
  color: #000;
}

button {
  cursor: pointer;
  outline: 0;
}

main {
  h1,
  h2,
  h3,
  h4,
  p {
    margin: 0;
    padding: 0;
  }
}

.lock-scroll {
  overflow: hidden;
}