@use '/src/styles/utils/bootstrap' as bs;

.action-button-container {
  display: flex;
  justify-content: center;

  @include bs.media-breakpoint-up(xl) {
    justify-content: unset;
  }
}

.action-button {
  border: 10px solid black;
  border-radius: 0;
  font-size: 40px;
  padding: 5px 30px;
  text-transform: lowercase;
  background-color: #fff;
  color: black;

  &:hover {
    border-color: #00EECC;
  }
}