@font-face {
  font-family: 'Borna';
  // src: url('src/assets/fonts/Borna/borna-regular-webfont.woff2') format('woff2');
  src: url('/static/fonts/Borna/borna-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Borna';
  // src: url('src/assets/fonts/Borna/borna-bold-webfont.woff2') format('woff2');
  src: url('/static/fonts/Borna/borna-bold-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Borna';
  src: url('/static/fonts/Borna/borna-regularitalic-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Borna';
  src: url('/static/fonts/Borna/borna-bolditalic-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}
