@use '@scssutils' as *;

#header {
  padding: 2rem;
  padding-left: 0;
  display: flex;
  position: relative;
  align-items: center;
  height: 100px;

  & > .geonodes-logo {
    padding-left: 2rem;
    @include media-breakpoint-up(xl) {
      padding-left: 12rem;
    }
  }

  & > .geonodes-logo-graphic {
    max-width: 115px;
  }
}

.header-container{
  display: flex;
  justify-content: space-between;
  padding-right: 10%;
  align-items: center;
}
